.button .pressed{
    display: none;
}

.facebuttons {
    display: flex;
    flex-direction: row;
    /*position: absolute;*/
    top: 50px;
}

.facebutton {
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.pressed {
    filter: brightness(125%);
}
.controller {
    display: flex;
    flex-direction: column;
    width: 520px;

    padding-bottom: 0;
}
.upperrow {
    width: 520px;
    margin-top: 5px;
    background-color: #ffc0cb;
    padding-top: 3px;
}

.lowerrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 518.7px;
    background-color: #eaaeb6;
    transform: perspective(500px) rotateX(-10deg);
    margin: auto;
}

.middlerow {
    background-color: #ffc0cb;
    padding-bottom: 1px;
    margin-bottom: -1px;
}

.lowerrow > * {
    flex: 1 0 auto;
    width: 25%;

}

.buttonset1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonset2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonset3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonset4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.smallbuttonimage {
    width: 15px;
    height: 15px;
    filter: grayscale(100%);
    margin-top: 1px;
    margin-bottom: -2px;



}

.slider {
    width: 510px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.sliderimage {
    width: 100%;
    filter: opacity(50%);
    z-index: 101;
}

.sliderrainbow {
    display: none;
    position: absolute;
    height: 49px;
    width: 510px;
    background: linear-gradient(
            90deg,
            #FF7F7F, /* red */
            #FFBF7F, /* orange */
            #c9c964, /* yellow */
            #a2da6b, /* green */
            #7FBFFF, /* blue */
            #BF7FFF, /* indigo */
            #FF7FFF, /* violet */
            #FF7F7F  /* red */
    );
    background-size: 200% 100%;
    animation: rainbow 6s linear infinite;
}

@keyframes rainbow {
    0% {background-position: 100% 0;}
    100% {background-position: -100% 0;}
}

.slidervisual {
    position: absolute;
    height: 49px;
    width: 510px;
    color: black;
}

.sliderslide {
    height: 49px;
    width: 510px;
    z-index: 100;
}

.controllerbg {
    position: absolute;
    width: 520px;
    height: 131px;
    z-index: 0;
}